{% extends "base.html" %}

{% block title %}{{ t['welcome_title'] }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center mb-5">
            <div class="profile-image-container mb-4">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" 
                     alt="Ningbo Li" 
                     class="profile-image">
            </div>
            <h1 class="display-4 mb-3">Ningbo Li</h1>
            <h2 class="h4 text-muted mb-4">{{ t['education_title'] }}</h2>
            <p class="lead">{{ t['research_focus'] }}</p>
            <div class="contact-info">
                <a href="mailto:lnb23@mails.tsinghua.edu.cn">
                    <i class="fas fa-envelope"></i> lnb23@mails.tsinghua.edu.cn
                </a>
                <a href="mailto:ningbo@uw.edu">
                    <i class="fas fa-envelope"></i> ningbo@uw.edu
                </a>
                <a href="https://github.com/sky-story">
                    <i class="fab fa-github"></i> github.com/sky-story
                </a>
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">{{ t['about_me'] }}</h3>
                <p class="card-text">
                    {{ t['about_me_content'] }}
                </p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">{{ t['education'] }}</h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <strong>{{ t['uw'] }}</strong><br>
                        {{ t['uw_degree'] }}<br>
                        <small class="text-muted">{{ t['uw_period'] }}</small>
                    </li>
                    <li class="mb-3">
                        <strong>{{ t['tsinghua'] }}</strong><br>
                        {{ t['tsinghua_degree'] }}<br>
                        <small class="text-muted">{{ t['tsinghua_period'] }}</small>
                    </li>
                    <li>
                        <strong>{{ t['swjtu'] }}</strong><br>
                        {{ t['swjtu_degree'] }}<br>
                        <small class="text-muted">{{ t['swjtu_period'] }}</small>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">{{ t['awards'] }}</h3>
                <ul class="list-unstyled">
                    <li class="mb-2">{{ t['award_1'] }}</li>
                    <li class="mb-2">{{ t['award_2'] }}</li>
                    <li>{{ t['award_3'] }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 